<!--
-- Copyright © SFDW INC - Vista Wine & Spirits - 3JMS 2021-2021
--
-- Certain code in this system is protected. © 2021 C2823945 - SFDW INC - Vista Wine & Spirits - 3JMS. All rights reserved
-- and protected. Per United States Of America - California Penal Code 484 PC "every person who shall feloniously steal,
-- take, carry, lead, or drive away the personal property of another, or who shall fraudulently appropriate property which
-- has been entrusted to him or her, or who shall knowingly and designedly, by any false or fraudulent representation or
-- pretense, defraud any other person of money, labor or real or personal property, or who causes or procures others to
-- report falsely of his or her wealth or mercantile character and by thus imposing upon any person, obtains credit and
-- thereby fraudulently gets or obtains possession of money, or property or obtains the labor or service of another, is
-- guilty of theft." License / Rights inquiry must be made to info@vistawinespirits.com. Any use without permission is
-- prosecuted by DMCA, Computer Fraud and Abuse Act, and the United States Federal Circuit courts
-->
{% extends "email/base.html" %}
{% load i18n static %}
{% block content %}

    <p>Hello,</p>
<p>Pour lancer le processus de réinitialisation du mot de passe de {{ user.get_username }} votre compte STORELINKERS,
     cliquez sur le bouton ci-dessous:</p>

    <p><a style="background-color: #2b3647;
  border: none;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;" href="{{ protocol }}://{{domain}}{% url 'password_reset_confirm' uidb64=uid token=token %}" target="_blank"><!--href=""-->réinitialiser le mot de passe</a></p>

<p>Si cliquer sur le bouton ci-dessus ne fonctionne pas, veuillez copier et coller l'URL ci-dessous dans un nouveau navigateur
     fenêtre à la place.</p>
    <p><a  href="{{ protocol }}://{{domain}}{% url 'password_reset_confirm' uidb64=uid token=token %}" target="_blank">{{ protocol }}://{{domain}}{% url 'password_reset_confirm' uidb64=uid token=token %}</a></p>

<p>Sincèrement,<br>
L'équipe STORELINKERS</p>

{% endblock %}