<!--
-- Copyright © SFDW INC - Vista Wine & Spirits - 3JMS 2021-2021
--
-- Certain code in this system is protected. © 2021 C2823945 - SFDW INC - Vista Wine & Spirits - 3JMS. All rights reserved
-- and protected. Per United States Of America - California Penal Code 484 PC "every person who shall feloniously steal,
-- take, carry, lead, or drive away the personal property of another, or who shall fraudulently appropriate property which
-- has been entrusted to him or her, or who shall knowingly and designedly, by any false or fraudulent representation or
-- pretense, defraud any other person of money, labor or real or personal property, or who causes or procures others to
-- report falsely of his or her wealth or mercantile character and by thus imposing upon any person, obtains credit and
-- thereby fraudulently gets or obtains possession of money, or property or obtains the labor or service of another, is
-- guilty of theft." License / Rights inquiry must be made to info@vistawinespirits.com. Any use without permission is
-- prosecuted by DMCA, Computer Fraud and Abuse Act, and the United States Federal Circuit courts
-->
{% extends "base.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
    <style>
.my_btn{
  font-size: 0.85714rem;
    font-weight: lighter;
    background-color: #47bac1;
    color: #fff;
    text-transform: uppercase;
    padding: 9px;
    border: none;
    border-radius: 3px;

}
 h3{
     margin-bottom: 1.5rem !important;
 }

</style>
    <style>


.center {
margin: auto;
width: 60%;
border: 5px solid #FFFF00;
padding: 10px;
}
    </style>
{% endblock %}




{% block content %}
      <main class="main" id="top">
      <div class="container-fluid">
        <div class="row min-vh-100 flex-center g-0">
          <div class="col-lg-8 col-xxl-5 py-3 position-relative"><img class="bg-auth-circle-shape" src="{% static "assets/img/icons/spot-illustrations/bg-shape.png" %}" alt="" width="250"><img class="bg-auth-circle-shape-2" src="{% static "assets/img/icons/spot-illustrations/shape-1.png" %}" alt="" width="150">
            <div class="card overflow-hidden z-index-1">
              <div class="card-body p-0">
                <div class="row g-0 h-100">
                  <div class="col-md-5 text-center bg-card-gradient">
                    <div class="position-relative p-4 pt-md-5 pb-md-7 light">
                      <div class="bg-holder bg-auth-card-shape" style="background-image:url('{% static "assets/img/icons/spot-illustrations/half-circle.png" %}');">
                      </div>
                      <!--/.bg-holder-->

                      <div class="z-index-1 position-relative"><a class="link-light mb-4 font-sans-serif fs-4 d-inline-block fw-bolder">STORELINKERS</a>
                        <p class="opacity-75 text-white">Vous avez oublié votre mot de passe ? Ne vous inquiétez pas, nous vous le rendrons!</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-7 d-flex flex-center">
                    <div class="p-4 p-md-5 flex-grow-1">
                      <div class="text-center text-md-start">
                        <h4 class="mb-0"> Mot de passe oublié?</h4>
                        <p class="mb-4">Entrez votre email et nous vous enverrons un lien de réinitialisation.</p>
                      </div>
                      <div class="row justify-content-center">
                        <div class="col-sm-8 col-md">
                          <form method="post" class="mb-3">
                            {% csrf_token %}
                             {% for field in form %}

                      <input type="email" name="{{ field.html_name }}" placeholder="{{ field.html_name }}" id="{{ field.id_for_label }}" placeholder="Email" aria-label="Email" aria-describedby="email-addon" class="form-control">
                    										<p > {{ field.errors }}</p>

                   {% endfor %}
                            <div class="mb-3"></div>
                            <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Envoyer le lien de réinitialisation</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
      <main class="main-content  mt-7">
    <section>
      <div class="page-header min-vh-75">
        <div class="container">
          <div class="row">
            <div class="col-xl-10 col-lg-10 col-md-6 d-flex flex-column mx-auto">
              <div class="card card-plain mt-8">
                <div class="card-header pb-0 text-left bg-transparent">
                  <p class="mb-0">Entrez votre email et votre mot de passe pour vous connecter</p>
                </div>
                <div class="card-body">
                   <form method="post" role="form">
                            {% csrf_token %}
            {% for field in form %}

                    <label>Email</label>
                    <div class="mb-3">
                      <input type="email" name="{{ field.html_name }}" placeholder="{{ field.html_name }}" id="{{ field.id_for_label }}" placeholder="Email" aria-label="Email" aria-describedby="email-addon" class="form-control">
                    										<p > {{ field.errors }}</p>

                    </div>
                   {% endfor %}

                    <div class="text-center">
                      <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0">Soumettre</button>
                    </div>
                  </form>
                </div>

            </div>
            <div class="col-md-6">
              <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('{% static "assets/img/curved-images/curved6.jpg" %}')"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>


  </form>
{% endblock %}
