{% extends 'base.html'%}
{% load static %}
{% block extrastyle %}
    {% block title %} STORELINKERS|Register {% endblock  %}

{% endblock %}
{% block breadcrumbs %}
{% endblock %}
{% block content %}
      <main class="main" id="top">
      <div class="container-fluid">
        <div class="row min-vh-100 flex-center g-0">
          <div class="col-lg-8 col-xxl-5 py-3 position-relative"><img class="bg-auth-circle-shape" src="{% static "assets/img/icons/spot-illustrations/bg-shape.png" %}" alt="" width="250"><img class="bg-auth-circle-shape-2" src="{% static "assets/img/icons/spot-illustrations/shape-1.png" %}" alt="" width="150">
            <div class="card overflow-hidden z-index-1">
              <div class="card-body p-0">
                <div class="row g-0 h-100">
                  <div class="col-md-5 text-center bg-card-gradient">
                    <div class="position-relative p-4 pt-md-5 pb-md-7 light">
                      <div class="bg-holder bg-auth-card-shape" style="background-image:url('{% static "assets/img/icons/spot-illustrations/half-circle.png" %}');">
                      </div>
                      <!--/.bg-holder-->

                      <div class="z-index-1 position-relative"><a class="link-light mb-4 font-sans-serif fs-4 d-inline-block fw-bolder" href="{% url 'index' %}">STORELINKERS</a>
                        <p class="opacity-75 text-white">Grâce à la puissance de STORELINKERS, vous pouvez désormais vous concentrer uniquement sur les fonctionnaires pour vos produits numériques, tout en nous laissant la conception de l'interface utilisateur!</p>
                      </div>
                    </div>
                    <div class="mt-3 mb-4 mt-md-4 mb-md-5 light">
                      <p class="text-white">Vous avez déjà un compte ?<br><a class="text-decoration-underline link-light" href="{% url 'login' %}">Connexion</a></p>
                      <p class="mb-0 mt-4 mt-md-5 fs--1 fw-semi-bold text-white opacity-75">Read our <a class="text-decoration-underline text-white" href="#!">terms</a> and <a class="text-decoration-underline text-white" href="#!">conditions </a></p>
                    </div>
                  </div>
                  <div class="col-md-7 d-flex flex-center">
                    <div class="p-4 p-md-5 flex-grow-1">
                      <div class="row flex-between-center">
                        <div class="col-auto">
                          <h3>Account Register</h3>
                        </div>
                      </div>
                      <form method="post">
                          {% csrf_token %}
                        <div class="mb-3">
                          <label class="form-label" for="card-email">Email address</label>
                          <input class="form-control" id="card-email" type="email" name="username" />
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="card-email">Prénom</label>
                          <input class="form-control" id="card-email" type="text" name="first_name" />
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="card-email">Nom de famille</label>
                          <input class="form-control" id="card-email" type="text" name="last_name" />
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="card-email">Numéro de téléphone</label>
                          <input class="form-control" id="card-email" type="number" name="number" />
                        </div>
                        <div class="mb-3">
                          <div class="d-flex justify-content-between">
                            <label class="form-label" for="card-password">Mot de passe</label>
                          </div>
                          <input class="form-control" id="card-password" name="password1" type="password" />
                        </div>
                        <div class="mb-3">
                          <div class="d-flex justify-content-between">
                            <label class="form-label" for="card-password1">Confirmez le mot de passe</label>
                          </div>
                          <input class="form-control" id="card-password1" name="password2" type="password" />
                        </div>
                        <div class="mb-3">
                          <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Enregistrer</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
{% endblock %}
{% block extrascript %}
    {{ block.super }}
    <script>
    $("#light_mode").change(function() {
    if(this.checked) {
        $(".login-form-1").attr("style","background-color:rgba(0,0,0,0)!important")
    }
    else{
        $(".login-form-1").attr("style","background-color:rgba(0,0,0,0.9)!important")
    }
});
    </script>
{% endblock %}