{% load i18n static %}
                 <div class="table-responsive scrollbar">
    <table class="table table-bordered table-striped fs--1 mb-0">
      <thead class="bg-200 text-900">
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nom</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Permission</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    {% for user in page_obj %}

                    <tr>
                    <td>
                        {{ user.name }}
                    </td>
                    <td>
                    {% for group in user.permissions.all %}
                     <p class="text-xs font-weight-bold mb-0">{{ group }}</p>
                    {% endfor %}
                      </td>

                      <td class="align-middle">
                     {% if 'auth.change_group' in request.user.get_all_permissions %}

                        <a href="{% url 'accounts:change_group' pk=user.id %}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Edit
                        </a>
                          {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
<br>
    <div class="pagination">
        {% include "pagination.html" %}
    </div>
                 </div>