{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}

{% block title %} STORELINKERS | Transporteurs {% endblock title %}


{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-3 ps-3">
            <li class="breadcrumb-item">
                <a href="{% block pathtitle %} {% url 'index' %} {% endblock %}">
                    {% block breadtitle %} Home {% endblock %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                {% block midtitle %}Transporteurs{% endblock %}</li>
        </ol>
    </nav>
    <div class="card mb-3">
        <div class="card-header">
            <div class="row flex-between-center">
                <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
                    <div class="search-box float-right">
                        <form class="position-relative show" method="get" aria-expanded="true">
                            <input class="form-control search-input fuzzy-search" type="search"
                                   placeholder="Search..." id="q_search" name="search"
                                   aria-label="Search" value="{{ request.GET.search }}">
                            <span class="fas fa-search search-box-icon"></span>
                        </form>
                        <div class="btn-close-falcon-container position-absolute end-0 top-50 translate-middle shadow-none">
                            <button type="button" class="btn btn-link btn-close-falcon p-0" id="btn-reset"
                                    aria-label="Close"></button>
                        </div>
                    </div>
                </div>
                <div class="col-8 col-sm-auto ms-auto text-end ps-0">
                    {% if 'orders.add_carrier' in request.user.get_all_permissions %}
                        <a href="{% url "orders:CarrierCreate" %}" class="btn btn-falcon-default btn-sm mx-2">
                            <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
                            <span class="d-none d-sm-inline-block ms-1">Nouveau</span></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-body " id="product-card">
            {% include "include/carrier_tr.html" %}
        </div>
        <div id='loader' class="my-5" style="display: none"></div>
    </div>


{% endblock %}

{% block extrascript %}
    <script>
        var $q_search = $('#q_search');
        var $_loader = $("#loader");
        var $_product_card = $("#product-card");

        $('body').on('keyup', '#q_search', function (e) {
            if (e.keyCode === 12 || e.key === 'Enter') {
                $_loader.show();
                $_product_card.hide();

                $.ajax({
                    method: 'GET',
                    data: {'search': $q_search.val()},
                    url: '{% url "orders:carrier_list" %}',
                    success: function (page_obj) {
                        $_loader.hide();
                        $_product_card.html(page_obj)
                        $_product_card.show();
                    }
                });
            }
            e.preventDefault();
        })

        $('#btn-reset').click(function () {
            $q_search.val('');
            window.location = '/order/carrier'
        })
    </script>
{% endblock %}



