{% extends 'base.html'%}
{% load static %}
    {% block title %} STORELINKERS| Créer un utilisateur {% endblock title %}
{% load widget_tweaks  %}


{% block extrastyle %}
    <style>
        .invalid {background:url({% static "images/canceled.svg" %}) no-repeat 0 20%;
            background-size: 16px 16px;

    padding-left:22px;
    line-height:24px;
    color:#ec3f41;
}
.valid {
    background:url({% static "images/ready.svg" %}) no-repeat 0 20%;
    background-size: 16px 16px;

    padding-left:22px;
    line-height:24px;
    color:#3a7d34;
}
    #pswd_info {
    display:none;
}
    ul, li {
    margin:0;
    padding:0;
    list-style-type:none;
}
    form ul li {
    margin:10px 20px;

}

.row {
  display: flex; /* equal height of the children */
}

.col {
  flex: 1; /* additionally, equal width */

  padding: 1em;
}

            </style>
        <link href="{% static "vendors/choices/choices.min.css" %}" rel="stylesheet"/>

{% endblock %}
{% block content %}
    <div >
         <form method="post" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            <div class="container">

                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                {{ field.label }}
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}


            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card mb-3 btn-reveal-trigger">
                        <div class="card-header position-relative min-vh-25 mb-8">
                            <div class="cover-image">
                                <div class="bg-holder rounded-3 rounded-bottom-0"
                                     style="background-image:url({% static "assets/img/generic/4.jpg" %});">
                                </div>
                                <!--/.bg-holder-->


                            </div>
                             <div class="avatar avatar-5xl avatar-profile shadow-sm img-thumbnail rounded-circle">
                                <div class="h-100 w-100 rounded-circle overflow-hidden position-relative"><img
                                        src="" width="200" alt=""
                                        data-dz-thumbnail="data-dz-thumbnail" id="avatar-image"/>
                                    {% render_field form.avatar class+="d-none" id="profile-image" onchange="loadFile(event)" %}
                                    <script>
  var loadFile = function(event) {
    var output = document.getElementById('avatar-image');
    output.src = URL.createObjectURL(event.target.files[0]);
    console.log("done")
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };
</script>
                                    <label class="mb-0 overlay-icon d-flex flex-center" for="profile-image"><span
                                            class="bg-holder overlay overlay-0"></span><span
                                            class="z-index-1 text-white dark__text-white text-center fs--1"><span
                                            class="fas fa-camera"></span><span
                                            class="d-block">Mise à jour</span></span></label>
                                </div>
                            </div>

                        </div>


                    </div>

                </div>

            </div>
            <div class="row g-0">
                <div class="col-lg-8 pe-lg-2">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="mb-0">Paramètres de profil</h5>
                        </div>
                        <div class="card-body bg-light">
                            <div class="col-lg-12">
                                    <label class="form-label" for="first-name">Email</label>
                                {% render_field form.username class+="form-control"  %}
                            </div>
                            <div class="col-lg-12">
                                <label class="form-label" for="first-name">Prénom</label>
                                {% render_field form.first_name class+="form-control" %}
                            </div>
                            <div class="col-lg-12">
                                <label class="form-label" for="last-name">Nom de famille</label>
                                {% render_field form.last_name class+="form-control" %}
                            </div>
                            <div class="col-lg-12">
                                <label class="form-label" for="last-name">Marché</label>
                                {% render_field form.marketplace class+="form-control" %}
                            </div>


                        </div>
                    </div>
                    <div class="card mb-3">

                        <div class="card-header">
                            <h5 class="mb-0">Groups & Permissions</h5>
                        </div>
                        <div class="card-body bg-light">
                            {% if "auth.add_group" in request.user.get_all_permissions %}

                                <div class="col-lg-12">
                                    <label class="form-label" for="last-name">Groups</label>
                                    {% render_field form.groups class="form-select js-choice" id="organizerMultiple" multiple="multiple" %}

                                </div>
                            {% endif %}

                            {% if "auth.add_permission" in request.user.get_all_permissions %}

                                <div class="col-lg-12">
                                    <label class="form-label" for="last-name">Permissions</label>
                                    {% render_field form.user_permissions class+="form-control js-choice" id="organizerMultiple" multiple="multiple" %}
                                </div>

                            {% endif %}
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 ps-lg-2">
                    <div class="">
                        <div class="card mb-3 overflow-hidden">
                            <div class="card-header">
                                <h5 class="mb-0">Paramètres du compte</h5>
                            </div>
                            <div class="card-body bg-light">

                                <h6 class="mt-2 fw-bold">User status<span class="fs--2 ms-1 text-primary"
                                                                                data-bs-toggle="tooltip"
                                                                                data-bs-placement="top"
                                                                                title="Only give this permissions to trusted ones. Removing the active status will disable the account."><span
                                        class="fas fa-question-circle"></span></span></h6>
                                <div class="form-check form-switch mb-0 lh-1">
                                    {% render_field form.is_active class+="form-check-input" %}
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                                           checked="checked"/>
                                    <label class="form-check-label mb-0" for="flexSwitchCheckDefault">active
                                    </label>
                                </div>
                                <div class="form-check form-switch mb-0 lh-1">
                                    {% render_field form.is_staff class+="form-check-input" %}
                                    <label class="form-check-label mb-0" for="flexSwitchCheckChecked">Personnel
                                    </label>
                                </div>
                                <div class="form-check form-switch mb-0 lh-1">
                                    {% render_field form.is_superuser class+="form-check-input" %}
                                    <label class="form-check-label mb-0" for="flexSwitchCheckChecked">superutilisateur
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header">
                                <h5 class="mb-0">Preference</h5>
                                <div class="form-check form-switch mb-0 lh-1">
                                    {% render_field form.is_light class+="form-check-input" %}
                                    <label class="form-check-label mb-0" for="flexSwitchCheckChecked">Mode lumière
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="mb-0"> Mot de passe</h5>

                        </div>
                        <div class="card-body bg-light">
                            <div class="mb-3">
                                <div class="password_field">
                                    <label class="form-label" for="old-password">Nouveau Mot de passe</label>

                                    <input name="password" class="form-control" id="id_password" placeholder="password"
                                           type="text" style="-webkit-text-security: disc;">
                                </div>
                                <div id="pswd_info">
                                    <ul>
                                        <li id="letter" class="invalid">At least <strong>une lettre</strong></li>
                                        <li id="capital" class="invalid">At least <strong>une lettre majuscule</strong>
                                        </li>
                                        <li id="number" class="invalid">At least <strong>un nombre</strong></li>
                                        <li id="length" class="invalid">Be at least <strong>8 caractères</strong></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>



    <div style="" class="row">
        <div class="col">

              <button type="submit" name="save_data" value="save_data" class="btn btn-primary">Sauvegarder</button>
              <button type="submit" name="save_more" value="delete_datax" class="btn btn-primary">Enregistrer et ajouter un autre</button>
            <button type="submit" name="save_edit" value="delete_datax" class="btn btn-primary">Enregistrer et continuer l'édition</button>
        </div>
			</div>

</form>
</div>

</div>
{% endblock %}
{% block extrascript %}
    <script>
    $(document).ready(function() {


    $('input[type=password]').keyup(function() {
    let pswd = $(this).val();

if ( pswd.match(/[A-z]/) ) {
    $('#letter').removeClass('invalid').addClass('valid');
} else {
    $('#letter').removeClass('valid').addClass('invalid');
}

//validate capital letter
if ( pswd.match(/[A-Z]/) ) {
    $('#capital').removeClass('invalid').addClass('valid');
} else {
    $('#capital').removeClass('valid').addClass('invalid');
}

//validate number
if ( pswd.match(/\d/) ) {
    $('#number').removeClass('invalid').addClass('valid');
} else {
    $('#number').removeClass('valid').addClass('invalid');
}
$('')
   if ( pswd.length < 8 ) {
    $('#length').removeClass('valid').addClass('invalid');}
     else {
    $('#length').removeClass('invalid').addClass('valid');
    //validate letter
       }
     if (pswd.length>=8 && pswd.match(/\d/)  && pswd.match(/[A-Z]/) && ( pswd.match(/[A-z]/) )){
         $(".btn").prop('disabled', false);

     }
     else{
         $(".btn").prop('disabled', true);
     }
}).focus(function() {
    $('#pswd_info').show();
}).blur(function() {
    $('#pswd_info').hide();
});

});
    </script>
     <script src="{% static "vendors/choices/choices.min.js" %}"></script>
{% endblock %}