{% extends 'base.html' %}
{% load static %}
{% block title %} STORELINKERS| add Address {% endblock title %}
{% load widget_tweaks %}
{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="{% url "index" %}">Home</a></li>
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="{% url "orders:address_list" %}">Addresses</a>
            </li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Create</li>

        </ol>
    </nav>
    <br>
{% endblock %}
{% block extrastyle %}
    <style>
        ul, li {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        form ul li {
            margin: 10px 20px;

        }

        .row {
            display: flex; /* equal height of the children */
        }

        .col {
            flex: 1; /* additionally, equal width */

            padding: 1em;
        }

    </style>
{% endblock %}
{% block content %}
    <form id="myform" method="post" >
        {% csrf_token %}
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <div class="row " >
            <div class="col-lg-11 pe-lg-2">
                <div class="card mb-0">
                    <div class="card-header">
                        <h5 class="mb-0">Address Settings</h5>
                    </div>
                    <div class="card-body bg-light">
                    <div class="row gx-2">
                        <div class="col-sm-6 mb-3">

                    <label>company:</label>
                    {% render_field form.company class+="form-control" %}<br>
                </div>
                <div class="col-sm-6 mb-3">

                    <label>telephone:</label>
                    {% render_field form.telephone class+="form-control" %}<br>
                </div>
                <div class="col-sm-6 mb-3">

                    <label>street address:</label>
                    {% render_field form.address class+="form-control" %}<br>
                </div>
                <div class="col-sm-6 mb-3">

                    <label>Code postal :</label>
                    {% render_field form.zipcode class+="form-control"  %}<br>
                </div>
                <div class="col-sm-6 mb-3">

                    <label>ville :</label>
                    {% render_field form.ville class+="form-select" %}<br>
                </div>
                <div class="col-sm-6 mb-3">

                    <label>État :</label>
                    {% render_field form.cite class+="form-select" %}<br>
                </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    <br>
            <div style="" class="row">
                <div clas="col">
                <input type="submit" name="save_data"  class="btn btn-primary" value="Create">

            </div>
        </div>


    </form>






{% endblock %}
{% block extrascript %}

    <script>
        $('#myform').submit(function (e) {

            console.log("submitted");
        });

    </script>

{% endblock %}